<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

<!--   <div class="about__image">
    <img src="{{ '/images/profile2.jpg' | relative_url }}" alt="jonny">

    {% include component-socials.html %}
  </div>  -->

    <div class="about__content">
      <h2 class="title">Nice to meet you!</h2>
       <p class="subtitle subtitle--light">I’m a product manager and developer living in New York.</p>
      

      <p>My skills include product ownership, front-end design & development, customer research, prototyping and team leadership. 
      I’m interested in satisfying product interactions, serverless architecture, video production, no-code projects, JavaScript and FinTech.</p>
      <p>I’d love to hear about what you’re working on.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>
